body {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  align-items: center;
}

form input {
  display: block;
  margin: 10px;
  padding: 15px;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: 15px;
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: 3px solid black;
  border-radius: 0.4rem;
}

.btn {
  background-color: #fff;
  border: 3px solid black;
  box-shadow: 3px 3px;
  cursor: pointer;
  height: 25px;
}

.score-list {
  margin-top: 20px;
}

.score-header {
  display: flex;
  gap: 20px;
}

.score-header h2 {
  margin: 0;
}

.score-data {
  list-style-type: none;
  border: 3px solid black;
  width: 100%;
  padding: 0;
}

.score-data li {
  width: 100%;
  padding: 10px 0 10px 5px;
}

li:nth-child(even) {
  background: lightgrey;
  padding: 10px 0 10px 0;
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
  }

  .form {
    order: 1;
  }

  .score-list {
    order: 0;
  }
}
